.center{
  display: flex;
  justify-content: center;
}
.play {
  width: 74px;
  height: 74px;
  border-style: solid;
  border-width: 37px;
  border-color: #202020;
}
.App{
  background-image: url('./assets/jyotish.jpg');
  background-size: cover;
}